<% provide(:header_title, "課題種別一覧") %>
<% if @categories.present? %>
<table>
  <thead>
    <tr>
      <th colspan="3">No</th>
      <th colspan="3">課題種別</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td colspan="3"><%= category.id %></td>
        <td colspan="3"><%= category.name %></td>
      </tr>
  </tbody>
</table>
<% else %>
  <div class="col-sm-12">
    <p>対象の課題種別は１件もありません。</p>
  </div>
<% end %>

<br>

<%= link_to '新規登録', new_category_path, class: "btn btn-primary" %>
